/* GENERAL */
#main-jumbo {
  padding: 0;
}
img.candy-mark {
  margin-top: 150px;
}

/* SOCIAL ICONS */
ul.social-icons {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 6px;
}


.social-network a.ico-soundcloud:hover {
  background-color: #ff7700;
}
.social-network a.ico-instagram:hover {
  background-color: #e1306c;
}
.social-network a.ico-twitter:hover {
  background-color: #00acee;
}

.social-network a.ico-soundcloud:hover i,
.social-network a.ico-instagram:hover i,
.social-network a.ico-twitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 38px;
}
.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.social-network a {
  background-color: #F9F9F9;
}
